@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #435a62;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}

div.container{
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left:30px;
    margin-right:30px;
    display: flex;
    flex-direction: column;   
}

.main-h1{
    font-size: 4rem;
    margin-bottom:100px;
    text-align:center;
    
}
main-p{
    font-size: 1.5rem;
    margin-bottom:100px;
    text-align:center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/*play game page*/
.game-h1{
    margin-top:100px;
    font-size: 4rem;
    margin-bottom:50px;
    text-align:left;
    margin-left:30px;
    
}
.game-p{
    font-size: 2rem;
    margin-top:50px;
    text-align: center;
}
.container-game{
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left:10px;
    padding-right:10px;
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
}
.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 35px);
  grid-template-rows: repeat(9, 45px);
  gap: 5px;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 20, 147, 0.05); 
  color: white;
  font-weight: bold;
  
  /* The Neon Border */
  border: 2px solid #ff1493; 
  border-radius: 4px;
  box-shadow: 0 0 5px #ff1493, inset 0 0 5px #ff1493;
  
  transition: all 0.3s ease;
  cursor: pointer;
}

.element:hover {
  background: rgba(255, 20, 147, 0.2);
  box-shadow: 0 0 15px #ff1493, inset 0 0 10px #ff1493;
  transform: scale(1.05);
}