@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #435a62;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}

div.container{
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left:30px;
    margin-right:30px;
    display: flex;
    flex-direction: column;   
}

h1{
    font-size: 5rem;
}
p{
    font-size: 1.5rem;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/*play game page*/
.periodic-table {
  display: grid;
  /* 18 columns for the standard periodic table layout */
  grid-template-columns: repeat(18, 50px);
  grid-template-rows: repeat(7, 60px);
  gap: 10px;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 20, 147, 0.05); /* Very faint pink tint */
  color: white;
  font-weight: bold;
  
  /* The Neon Border */
  border: 2px solid #ff1493; 
  border-radius: 4px;
  box-shadow: 0 0 5px #ff1493, inset 0 0 5px #ff1493;
  
  transition: all 0.3s ease;
  cursor: pointer;
}

.element:hover {
  background: rgba(255, 20, 147, 0.2);
  box-shadow: 0 0 15px #ff1493, inset 0 0 10px #ff1493;
  transform: scale(1.05);
}